:root {
  --color-neutral-100: #e0e0e0;
  --color-neutral-200: #bdbdbd;
  --color-neutral-300: #9e9e9e;
  --color-neutral-400: #616161;
  --color-neutral-50: #f5f5f5;
  --color-neutral-500: #272727;
  --color-neutral-600: #1f1f1f;
  --color-neutral-700: #191919;
  --color-neutral-800: #121212;
  --color-neutral-900: #0a0a0a;
  --color-primary-50: #FCEAF3;
  --color-primary-100: #F7C9E0;
  --color-primary-200: #F1A4CB;
  --color-primary-300: #E36EAA;
  --color-primary-400: #C83F8E;
  --color-primary-500: #AD246F;
  --color-primary-600: #931A5E;
  --color-primary-700: #7A124E;
  --color-primary-800: #630B40;
  --color-primary-900: #4D0531;
  --color-secondary-50: #FFF8E8;
  --color-secondary-100: #FFECC0;
  --color-secondary-200: #FFDF97;
  --color-secondary-300: #FFD26D;
  --color-secondary-400: #FFC249;
  --color-secondary-500: #FBB03B;
  --color-secondary-600: #D6932C;
  --color-secondary-700: #B37720;
  --color-secondary-800: #8F5D16;
  --color-secondary-900: #6B440E;
  --color-shades-black: #000000;
  --color-shades-white: #ffffff;
  --color-tertiary-50: #F7FAFD;
  --color-tertiary-100: #EDF3FC;
  --color-tertiary-200: #DFEBFA;
  --color-tertiary-300: #C7DBF5;
  --color-tertiary-400: #ACC6F0;
  --color-tertiary-500: #DAE7F8;
  --color-tertiary-600: #97B2DA;
  --color-tertiary-700: #6F8CBD;
  --color-tertiary-800: #4B6B9F;
  --color-tertiary-900: #334D81;
  --spacing-1: 4px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-2: 8px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-3: 12px;
  --spacing-32: 128px;
  --spacing-4: 16px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --text-h1-font-size: 48px;
  --text-h2-font-size: 34px;
  --text-h3-font-size: 24px;
  --text-h4-font-size: 20px;
  --text-subtitle-font-size: 18px;
  --text-body1-font-size: 16px;
  --text-body2-font-size: 14px;
  --text-body3-font-size: 12px;
}
